# Ignore these files when building the Docker image
.git
.gitignore
.env
.env.example
README.md
.dockerignore
Dockerfile
docker-compose.yml
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.pytest_cache/
.coverage/
.pytest_cache/
htmlcov/
.tox/
.nox/
.build/
dist/
.eggs/
*.egg-info/
*.egg
build/
develop-eggs/
.installed.cfg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.scc
.ipynb_checkpoints
.DS_Store
Thumbs.db
last_price.json